body {
    font-family: 'Arial', sans-serif;
    background-color: #ced1d4; /* Light gray background */
}

#header {
    text-align: center;
    margin-bottom: 50px;
}

#header ol {
    list-style-type: none;
    background-color: #13284c; /* Dark navy blue background */
    padding: 10px 0;
    margin: 0;
    border: none; /* Removed the black border */
}

#header li {
    display: inline;
    margin: 0 15px; /* Adjusted margin for uniform spacing */
}

#header li  {
    text-decoration: none;
    color: #ffffff; /* White text for contrast */
    font-size: x-large;
    font-weight: bold;
}

#header li a {
    text-decoration: none;
    color: #ffffff; /* White text for contrast */
    font-size: x-large;
    font-weight: bold;
}

#header li a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #b1102b; /* Deep red for hover effect */
}

#logo {
    height: 150px;
    width: auto;
}

#title {
    text-align: center;
    color: #13284c; /* Dark navy blue for the title */
    margin-top: 20px; /* Added margin for spacing */
}


#leaderboard table, #matchHistory table {
    margin: auto;
}

#leaderboard td, #leaderboard th, #matchHistory td, #matchHistory th {
    border: 2px solid black;
}

/* Leaderboard and Match History Sections */
#leaderboard, #matchHistory {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px; /* Adjust as needed */
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

/* Style for tables in Leaderboard and Match History */
#leaderboard table, #matchHistory table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

#leaderboard th, #leaderboard td, #matchHistory th, #matchHistory td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#leaderboard th, #matchHistory th {
    background-color: #b1102b;
    color: white;
}

/* Zebra Stripes for Rows */
#leaderboard tr:nth-child(even), #matchHistory tr:nth-child(even) {
    background-color: #f2f2f2;
}

#leaderboard tr:hover, #matchHistory tr:hover {
    background-color: #ddd;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    #leaderboard, #matchHistory {
        width: 95%;
        margin: 10px;
    }
}
