body {
    font-family: 'Arial', sans-serif;
    background-color: #ced1d4; /* Light gray background */
}

#header {
    text-align: center;
    margin-bottom: 50px;
}

#header ol {
    list-style-type: none;
    background-color: #13284c; /* Dark navy blue background */
    padding: 10px 0;
    margin: 0;
    border: none; /* Removed the black border */
}

#header li {
    display: inline;
    margin: 0 15px; /* Adjusted margin for uniform spacing */
}

#header li  {
    text-decoration: none;
    color: #ffffff; /* White text for contrast */
    font-size: x-large;
    font-weight: bold;
}

#header li a {
    text-decoration: none;
    color: #ffffff; /* White text for contrast */
    font-size: x-large;
    font-weight: bold;
}

#header li a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #b1102b; /* Deep red for hover effect */
}

#logo {
    height: 150px;
    width: auto;
}

#title {
    text-align: center;
    color: #13284c; /* Dark navy blue for the title */
    margin-top: 20px; /* Added margin for spacing */
}


#leaderboard table, #matchHistory table {
    margin: auto;
}

#leaderboard, #matchHistory {
    border: 2px solid black;
    text-align: center;
}

#leaderboard td, #leaderboard th, #matchHistory td, #matchHistory th {
    border: 2px solid black;
}



