#leaderboard table, #matchHistory table {
    margin: auto;
}

#leaderboard, #matchHistory {
    border: 2px solid black;
    text-align: center;
}

#leaderboard td, #leaderboard th, #matchHistory td, #matchHistory th {
    border: 2px solid black;
}

