li {
    display: inline-block;
}

ol {
    background-color: lightgrey;
}

.options {
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding:10px 10px 0px 10px;
    margin-left:50px;
}
a {
    text-decoration: none;
    color:black;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#logo {
    height:150px;
    width:auto;
}