body {
    font-family: 'Arial', sans-serif;
    background-color: #ced1d4;
}

.indexList {
    margin-top: 150px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding:0;
}

button {
    background-color: #b1102b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: red;
}


#container {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#header {
    text-align: center;
    margin-bottom: 50px;
}

#header ol {
    list-style-type: none;
    background-color: #13284c;
    padding: 10px 0;
    margin: 0;
    border: none; 
}

#header li {
    display: inline;
    margin: 0 15px;
}

#header li a {
    text-decoration: none;
    color: #ffffff;
    font-size: x-large;
    font-weight: bold;
}

#header li a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #b1102b; 
}

#logo {
    height: 150px;
    width: auto;
}

#title {
    text-align: center;
    color: #13284c; 
    margin-top: 20px; 
}
